
@{
    ViewData["Title"] = "Activity10";
}


<div class="wrapper">
    <h2><font color="#2a2a2a" size="7">Activity 10&nbsp;</font></h2>
    <div class="main-wrap">

        <div class="container">
            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/Unit2/act10pic1.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>

            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/Unit2/act10pic2.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>

            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/Unit2/act10pic3.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>

            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/Unit2/act10pic4.jpg" alt="Picture" style="width:auto;max-width:100%">

                    </a>
                    <button><a asp-area="" asp-controller="Unit2" asp-action="Activity9" target="_self">Back</a></button>
                    <button><a asp-area="" asp-controller="Unit3" asp-action="Activity11" target="_self">Next</a></button>
                </div>
            </div>




        </div>
    </div>
</div>
<br />
<br />
<br />
