
@{
    ViewData["Title"] = "Activity4";
}

<div class="wrapper">
    <h2><font color="#2a2a2a" size="7">Activity 4&nbsp;</font></h2>
    <div class="main-wrap">

        <div class="container">
            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:inherit">
                    <a>

                        <img src="~/images/activities/Unit1/act4pic1.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit1/act4pic2.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>

                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit1/act4pic3.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>
                <br/>
                <iframe src="https://drive.google.com/file/d/1vI60WeI3VnecCdIs3oJasDCX4DRa1Qbw/preview" allowfullscreen="allowfullscreen" width="640" height="480"></iframe>



                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit1/act4pic4.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>
                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit1/act4pic5.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>
                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit1/act4pic6.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>
                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit1/act4pic7.jpg" alt="Picture" style="width:auto;max-width:100%">
                            <button><a asp-area="" asp-controller="Unit1" asp-action="Activity3" target="_self">Back</a></button>
                            <button><a asp-area="" asp-controller="Unit1" asp-action="Activity5" target="_self">Next</a></button>
                        </a>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />


