
@{
    ViewData["Title"] = "Activity14";
}

    <div class="wrapper">
        <h2><font color="#2a2a2a" size="7">Activity 14&nbsp;</font></h2>
        <div class="main-wrap">

            <div class="container">
                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit3/act14pic1.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>

                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit3/act14pic2.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>

                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit3/act14pic3.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>

                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit3/act14pic4.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>

                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit3/act14pic5.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>

                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit3/act14pic6.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>

                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit3/act14pic7.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>




            </div>
        </div>
    </div>
