
@{
    ViewData["Title"] = "Activity2";
}


<div class="wrapper">
<h2><font color="#2a2a2a" size="7">Activity 2&nbsp;</font></h2>
    <div class="main-wrap">
 
        <div class="container">
            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/act2pic1.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>
            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/act2pic2.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>

            <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                What is a goal?
                <video width="320" height="240" controls>
                    <source src="~/images/activities/goalmp4.mp4" type="video/mp4">
                </video>
                What is a behind?
                <video width="320" height="240" controls>
                    <source src="~/images/activities/behindmp4.mp4" type="video/mp4">
                </video>


            </div>

            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/act2pic3.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>




            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/act2pic4.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>

            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:left">
                    <a>
                        <img src="~/images/activities/act2pic5.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

