
@{
    ViewData["Title"] = "Activity4";
}

<div class="wrapper">
    <h2><font color="#2a2a2a" size="7">Activity 4&nbsp;</font></h2>
    <div class="main-wrap">

        <div class="container">
            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:inherit">
                    <a>

                        <img src="~/images/activities/Unit1/act4pic1.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit1/act4pic2.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>

                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit1/act4pic3.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>

                <video width="480" height="360" controls>
                    <source src="~/images/activities/Unit1/act4video.mp4" type="video/mp4">
                </video>



                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit1/act4pic4.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>
                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit1/act4pic5.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>
                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit1/act4pic6.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>
                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit1/act4pic7.jpg" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>


