
@{
    ViewData["Title"] = "Activity13";
}


<div class="wrapper">
    <h2><font color="#2a2a2a" size="7">Activity 13&nbsp;</font></h2>
    <div class="main-wrap">

        <div class="container">
            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/Unit3/act13pic1.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>

            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/Unit3/act13pic2.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>

            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/Unit3/act13pic3.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>

            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/Unit3/act13pic4.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>

            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/Unit3/act13pic5.jpg" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>

            <div>
                <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                    <a>

                        <img src="~/images/activities/Unit3/act13pic6.jpg" alt="Picture" style="width:auto;max-width:100%">
                        <button><a asp-area="" asp-controller="Home" asp-action="Activity12" target="_self">Back</a></button>
                        <button><a asp-area="" asp-controller="Home" asp-action="Activity14" target="_self">Next</a></button>
                    </a>
                </div>
            </div>






        </div>
    </div>
</div>
<br />
<br />
<br />


