@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Unit 2 Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style type="text/css">
        .galleryImageHolder img:hover {
            opacity: .5;
        }


        span {
            color: black;
            font-weight: bold;
        }
    </style>

<h1>
    Unit 2 - Statistics.
</h1>
<div>
    <div>
        <div style="margin:0 -15px;">
            <table>
                <tbody>
                    <tr>
                        <td style="width:50%; padding:0 15px;">

                            <div>
                                <div style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                                    <a>
                                        <img src="~/images/activities/Unit2/coverphoto2.jpg" alt="Picture" style="width:auto;max-width:100%">
                                    </a>
                                    <div style="display:block;font-size:90%"></div>
                                </div>
                            </div>

                        </td>
                        <td style="width:50%; padding:0 15px;">

                            <h2 style="text-align:center;"><font color="#2a2a2a" size="5">Click on the Activity to View:</font></h2>

                            <div style="float:left;width:49.95%;margin:0;">
                                <div style="position:relative;margin:1px;">
                                    <div class="galleryImageHolder" style="position:relative; width:100%; padding:0 0 75.08%;">
                                        <div class="galleryInnerImageHolder">
                                            <a asp-area="" asp-controller="Unit2" asp-action="Activity6" target="_self" title="Activity6">
                                                <img src="~/images/activities/Unit2/act6pic1.jpg" class="galleryImage" _width="565" _height="800" style="position:absolute;border:0;width:53.02%;top:0%;left:23.49%">
                                                <span style="position:absolute; top:50%;left:50%;transform: translate(-50%, -50%);font-size:20px">Activity6</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float:left;width:49.95%;margin:0;">
                                <div style="position:relative;margin:1px;">
                                    <div class="galleryImageHolder" style="position:relative; width:100%; padding:0 0 75.08%;">
                                        <div class="galleryInnerImageHolder">
                                            <a asp-area="" asp-controller="Unit2" asp-action="Activity7" target="_self" title="Activity 7">
                                                <img src="~/images/activities/Unit2/act7pic1.jpg" class="galleryImage" _width="565" _height="800" style="position:absolute;border:0;width:53.02%;top:0%;left:23.49%">
                                                <span style="position:absolute; top:50%;left:50%;transform: translate(-50%, -50%);font-size:20px">Activity7</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left;width:49.95%;margin:0;">
                                <div style="position:relative;margin:1px;">
                                    <div class="galleryImageHolder" style="position:relative; width:100%; padding:0 0 75.08%;">
                                        <div class="galleryInnerImageHolder">
                                            <a asp-area="" asp-controller="Unit2" asp-action="Activity8" target="_self" title="Activity 8">
                                                <img src="~/images/activities/Unit2/act8pic1.jpg" class="galleryImage" _width="565" _height="800" style="position:absolute;border:0;width:53.02%;top:0%;left:23.49%">
                                                <span style="position:absolute; top:50%;left:50%;transform: translate(-50%, -50%);font-size:20px">Activity8</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left;width:49.95%;margin:0;">
                                <div style="position:relative;margin:1px;">
                                    <div class="galleryImageHolder" style="position:relative; width:100%; padding:0 0 75.08%;">
                                        <div class="galleryInnerImageHolder">
                                            <a asp-area="" asp-controller="Unit2" asp-action="Activity9" target="_self" title="Activity 9">

                                                <img src="~/images/activities/Unit2/act9pic1.jpg" class="galleryImage" _width="565" _height="800" style="position:absolute;border:0;width:53.02%;top:0%;left:23.49%">
                                                <span style="position:absolute; top:50%;left:50%;transform: translate(-50%, -50%);font-size:20px">Activity9</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left;width:49.95%;margin:0;">
                                <div style="position:relative;margin:1px;">
                                    <div class="galleryImageHolder" style="position:relative; width:100%; padding:0 0 75.08%;">
                                        <div class="galleryInnerImageHolder">
                                            <a asp-area="" asp-controller="Unit2" asp-action="Activity10" target="_self" title="Activity 10">
                                                <img src="~/images/activities/Unit2/act10pic1.jpg" class="galleryImage" _width="565" _height="800" style="position:absolute;border:0;width:53.02%;top:0%;left:23.49%">
                                                <span style="position:absolute; top:50%;left:50%;transform: translate(-50%, -50%);font-size:20px ">Activity10</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

