@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Unit 4 Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>
        This will be the home page for unit 4.
    </h1>