
@{
    ViewData["Title"] = "Whatisfooty";
}


<style type="text/css">
    video {
        width:70%;
        height:auto;

    }



    
</style>
    <div class="wrapper">
        <h2><font color="#2a2a2a" size="7">What is Footy&nbsp;</font></h2>
        <div class="main-wrap">

            <div class="container">
                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>
                            <img src="~/images/activities/Unit1/whatisfooty.jpg" alt="Picture" style="width:auto;max-width:100%">
                            <video controls="controls" width="500" height="300">
                                <source src="~/images/activities/Unit1/whatstem.mp4" type="video/mp4" />
                            </video>
                        </a>
                    </div>
                </div>

                <div>
                    <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
                        <a>

                            <img src="~/images/activities/Unit1/whatisfooty2.jpg" alt="Picture" style="width:auto;max-width:100%">
                            <iframe width="420" height="315" src="https://www.youtube.com/embed/XMZYZcoAcU0">
                            </iframe>
                        </a>

                        <button><a asp-area="" asp-controller="Home" asp-action="Activity1" target="_self">Next</a></button>
                    </div>
                </div>

            </div>
            </div>
        </div>
<br />


