@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Student Workbook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .containRow {
        margin-top: 80px;
        border: solid 5px #ffe694;
    }

    .containInside {
        margin-left: 10px;
    }

    input {
        border: none;
    }

    table {
        margin-left: 10px;
        margin-right: 10px;
    }

    h3 {
        color: #002b5c;
        margin-left: 5px;
        width: 100%;
        text-align: center;
    }

    #col1 {
        text-align: center;
        font-size: 20px;
        width: 10%;
        border-width: 5px;
        border-color: #002b5c;
        color: #33619e;
    }

    #col2 {
        width: 30%;
        padding: 2px;
        text-align: center;
        font-size: 20px;
        height: 35px;
        border-width: 5px;
        border-color: #002b5c;
        color: #33619e;
    }

    #TexImage {
        position: relative;
        float: left;
        width: 35%;
        height: 45%;
    }

    #ebImage {
        position: relative;
        width: 30%;
        height: 50%;
        float: right;
        margin-right: 10px;
    }

    #act10table3 {
        float: left;
    }

    #goalpic {
        float: right;
        width: 45%;
        height: 45%;
        display: inline-block;
        margin: 0 auto;
    }

    #c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9, #c10,
    #c11, #c12, #c13, #c14, #c15, #c16, #c17, #c18, #c19,
    #c20, #c21 {
        padding: 2px;
        text-align: center;
        font-size: 20px;
        border-width: 5px;
        border-color: #002b5c;
        color: #33619e;
    }

    .dot {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        padding-top: 10px;
    }

    #act1Table1 {
        border-width: 5px;
        border-color: blue;
    }

    #coinTable td, #texTable td {
        color: #002b5c;
    }

    #act1Field {
        background-image: url('../images/Football_Oval-01.jpg');
        background-size: 100% 100%;
        height: 450px;
    }

    #a1-1R1 {
        padding-top: 100px;
        padding-left: 50px;
    }

    #a1-1R2 {
        padding-top: 45px;
    }

    #a1-1R3 {
        padding-top: 45px;
        padding-left: 50px;
    }

    #f1 {
        background-color: #ffffff;
        border: solid 5px #ffd200;
        margin-left: 175px;
        margin-right: 75px;
        font-weight: bold;
    }

    #f2t {
        background-color: #ffffff;
        border: solid 5px #ffd200;
        margin-right: 75px;
        margin-top: -25px;
        font-weight: bold;
    }

    #f2m {
        background-color: #ffffff;
        border: solid 5px #ffd200;
        margin-left: 50px;
        margin-right: 75px;
        font-weight: bold;
    }

    #f2b {
        background-color: #ffffff;
        border: solid 5px #ffd200;
        margin-right: 75px;
        margin-top: 25px;
        font-weight: bold;
    }

    #m1 {
        background-color: #ffffff;
        border: solid 5px #e31937;
        margin-right: 75px;
        margin-left: 12px;
        font-weight: bold;
    }

    #m1t {
        background-color: #ffffff;
        border: solid 5px #e31937;
        margin-right: 75px;
        margin-top: -30px;
        margin-left: 12px;
        font-weight: bold;
    }

    #m1b {
        background-color: #ffffff;
        border: solid 5px #e31937;
        margin-right: 75px;
        margin-top: 30px;
        margin-left: 12px;
        font-weight: bold;
    }

    #m2 {
        background-color: #ffffff;
        border: solid 5px red;
        margin-right: 75px;
        font-weight: bold;
    }

    #m2t {
        background-color: #ffffff;
        border: solid 5px red;
        margin-right: 75px;
        margin-top: -30px;
        font-weight: bold;
    }

    #m2b {
        background-color: #ffffff;
        border: solid 5px red;
        margin-right: 75px;
        margin-top: 30px;
        font-weight: bold;
    }

    #d1 {
        background-color: #ffffff;
        border: solid 5px #002b5c;
        margin-right: 75px;
        margin-left: 10px;
        font-weight: bold;
    }

    #d1t {
        background-color: #ffffff;
        border: solid 5px #002b5c;
        margin-right: 75px;
        margin-top: -30px;
        margin-left: 10px;
        font-weight: bold;
    }

    #d1b {
        background-color: #ffffff;
        border: solid 5px #002b5c;
        margin-right: 75px;
        margin-top: 30px;
        margin-left: 10px;
        font-weight: bold;
    }

    #d2 {
        background-color: #ffffff;
        border: solid 5px #002b5c;
        margin-left: 50px;
        font-weight: bold;
    }

    #d2t, #d2b {
        background-color: #ffffff;
        border: solid 5px #002b5c;
        font-weight: bold;
    }

    #pos1, #pos2, #pos3, #pos4, #pos5, #pos6, #pos7, #pos8,
    #pos9, #pos10, #pos11, #pos12, #pos13, #pos14, #pos15,
    #pos16, #pos17, #pos18, #pos19, #pos20, #pos21, #pos22 {
        text-align: center;
        padding: 3px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }



    #coin, #coin2 {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        cursor: pointer;
    }




        #coin div, #coin2 div {
            width: 100%;
            height: 100%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -webkit-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
            -moz-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
            box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
        }



    .side-a {
        background-image: url('../images/Workbooklet/coinheads.PNG');
        background-repeat: no-repeat;
        background-size: auto;
    }

    .side-b {
        background-image: url('../images/Workbooklet/cointails.PNG');
    }

    #coin, #coin2 {
        transition: -webkit-transform 1s ease-in;
        -webkit-transform-style: preserve-3d;
    }

        #coin div, #coin2 div {
            position: absolute;
            -webkit-backface-visibility: hidden;
        }




    .side-a {
        z-index: 100;
    }

    .side-b {
        -webkit-transform: rotateY(-180deg);
    }

    #coin.heads {
        -webkit-animation: flipHeads 3s ease-out forwards;
        -moz-animation: flipHeads 3s ease-out forwards;
        -o-animation: flipHeads 3s ease-out forwards;
        animation: flipHeads 3s ease-out forwards;
    }

    #coin.tails {
        -webkit-animation: flipTails 3s ease-out forwards;
        -moz-animation: flipTails 3s ease-out forwards;
        -o-animation: flipTails 3s ease-out forwards;
        animation: flipTails 3s ease-out forwards;
    }


    #coin2.heads {
        -webkit-animation: flipHeads 3s ease-out forwards;
        -moz-animation: flipHeads 3s ease-out forwards;
        -o-animation: flipHeads 3s ease-out forwards;
        animation: flipHeads 3s ease-out forwards;
    }

    #coin2.tails {
        -webkit-animation: flipTails 3s ease-out forwards;
        -moz-animation: flipTails 3s ease-out forwards;
        -o-animation: flipTails 3s ease-out forwards;
        animation: flipTails 3s ease-out forwards;
    }


    @@keyframes flipHeads {
        from {
            -webkit-transform: rotateY(0);
            -moz-transform: rotateY(0);
            transform: rotateY(0);
        }

        to {
            -webkit-transform: rotateY(1800deg);
            -moz-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
        }
    }

    @@keyframes flipTails {
        from {
            -webkit-transform: rotateY(0);
            -moz-transform: rotateY(0);
            transform: rotateY(0);
        }

        to {
            -webkit-transform: rotateY(1980deg);
            -moz-transform: rotateY(1980deg);
            transform: rotateY(1980deg);
        }
    }



    #int1 {
        margin-left: 425px;
        background-color: #ffffff;
        border: solid 5px black;
        font-weight: bold;
    }

    #int {
        margin-left: 20px;
        background-color: #ffffff;
        border: solid 5px black;
        font-weight: bold;
    }

    #pos1, #pos2, #pos3, #pos4, #pos5, #pos6, #pos7, #pos8,
    #pos9, #pos10, #pos11, #pos12, #pos13, #pos14, #pos15,
    #pos16, #pos17, #pos18, #pos19, #pos20, #pos21, #pos22 {
        text-align: center;
        padding: 3px;
        border-width: 3px;
        border-color: #002b5c;
        font-size: 20px;
        height: 10px;
    }

    #pos1, #pos2, #pos3, #pos4, #pos5, #pos6 {
        color: #ffd200;
    }

    #pos7, #pos8, #pos9, #pos10, #pos11, #pos12 {
        color: #e31937;
    }

    #pos13, #pos14, #pos15, #pos16, #pos17, #pos18 {
        color: #004b8d;
    }

    .areaHint {
        font-size: 20px;
        color: #0c2037;
    }

    .areaLabel {
        font-size: 18px;
        color: #002b5c;
    }

    #act3Body {
        text-align: center;
        padding: 3px;
        border-width: 4px;
        border-color: #002b5c;
        font-size: 20px;
    }

    #act3head {
        text-align: center;
        padding: 3px;
        border-width: 4px;
        border-color: #002b5c;
        background-color: #002b5c;
        font-size: 20px;
        color: white;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    input {
        border: none;
    }

    #mySideNav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #33619e;
        overflow-x: hidden;
        padding-top: 20px;
    }

    #main {
        margin-left: 100px;
    }

    #navBarImg {
        margin-left: 100px;
    }

</style>


<div>
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Crowball">Go To Crowball</a>
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="MVP" style="margin-left:15px;margin-right:15px;">Go To MVP</a>
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Survey">Go To survey</a>
</div>

<nav id="mySideNav" class="sidenav">
    <div class="container">
        <h3 style="color:white;text-align:center;">TEST BAR</h3>

        <ul class="navbar-nav">
            <li>
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Unit1Home">Unit 1</a>
            </li>
            <li>
                <a class="nav-link" href="#act1Part1" style="color:#e31937;">Activity 1 - Part 1</a>
            </li>
            <li>
                <a class="nav-link" href="#act6Part3" style="color:green;">Activity 6 - Part 3</a>
            </li>
            <li>
                <a class="nav-link" href="#act10Part1" style="color:#e31937;">Activity 10 - Part 1</a>
            </li>
        </ul>
    </div>
</nav>

<!--Activity 1: part 1-->
<div class="row containRow" id="act1Part1">
    <h3>AFL Positions: Activity 1 (Class Activity/Discussion)</h3>
    <p style="margin-left:10px;">
        <span style="color:#e31937;">Sorting Challenge:</span> In the AFL each team has 22 players, 18 players on the field and 4 substitutes. In this next
        activity we want you in small groups, work as a team and look at the 22 AFL positions and sort where you
        think they start on the field.
    </p>
    <p style="margin-left:10px;">
        <span style="color:#e31937;">Hint:</span>
        There are 4 zones/groups that the positions are split evenly into. The name of the position can help you to
        group them into these zones. We have started the sorting for you with some answers already, it’s up to you
        to put the rest of the positions on the table.
    </p>
    <div class="col-md-12">
        <div class="row">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td draggable="true" ondragstart="drag(event);" id="c1">Ruck</td>
                        <td draggable="true" ondragstart="drag(event);" id="c2">Forward Pocket</td>
                        <td draggable="true" ondragstart="drag(event);" id="c3">Wing</td>
                    </tr>
                    <tr>
                        <td draggable="true" ondragstart="drag(event);" id="c4">Interchange 2</td>
                        <td draggable="true" ondragstart="drag(event);" id="c5">Centre Half Forward</td>
                        <td draggable="true" ondragstart="drag(event);" id="c6">Half Forward Flank</td>
                    </tr>
                    <tr>
                        <td draggable="true" ondragstart="drag(event);" id="c7">Back Pocket</td>
                        <td draggable="true" ondragstart="drag(event);" id="c8">Centre</td>
                        <td draggable="true" ondragstart="drag(event);" id="c9">Interchange 3</td>
                    </tr>
                    <tr>
                        <td draggable="true" ondragstart="drag(event);" id="c10">Wing</td>
                        <td draggable="true" ondragstart="drag(event);" id="c11">Centre Half Back</td>
                        <td draggable="true" ondragstart="drag(event);" id="c12">Forward Pocket</td>
                    </tr>
                    <tr>
                        <td draggable="true" ondragstart="drag(event);" id="c13">Half Back Flank</td>
                        <td draggable="true" ondragstart="drag(event);" id="c14">Rover</td>
                        <td draggable="true" ondragstart="drag(event);" id="c15">Full Back</td>
                    </tr>
                    <tr>
                        <td draggable="true" ondragstart="drag(event);" id="c16">Interchange 1</td>
                        <td draggable="true" ondragstart="drag(event);" id="c17">Half Forward Flank</td>
                        <td draggable="true" ondragstart="drag(event);" id="c18">Half back Flank</td>
                    </tr>
                    <tr>
                        <td draggable="true" ondragstart="drag(event);" id="c19">Back Pocket</td>
                        <td draggable="true" ondragstart="drag(event);" id="c20">Ruck Rover</td>
                        <td draggable="true" ondragstart="drag(event);" id="c21">Interchange 4</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <p style="font-size:25px;color:#004b8d;">
            Drag your group's answers from the above table to the table below:
        </p>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color:#002b5c; color:white;">
                        <th style="border-width:5px;border-color:#002b5c;">ZONE/GROUPS</th>
                        <th colspan="3" style="text-align:center;border-width: 5px;border-color:#002b5c;">POSITIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" id="col1">Forward</td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2">Full Forward</td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                    </tr>
                    <tr>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                    </tr>
                    <tr>
                        <td rowspan="2" id="col1"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                    </tr>
                    <tr>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                    </tr>
                    <tr>
                        <td rowspan="2" id="col1"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                    </tr>
                    <tr>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                    </tr>
                    <tr>
                        <td rowspan="2" id="col1">Interchange</td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                    </tr>
                    <tr>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                        <td id="col2" ondragover="allowDrop(event);" ondrop="drop(event);"></td>
                    </tr>

                </tbody>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!--Activity 1: part 2-->
<div class="row containRow">
    <h3>AFL Positions: Activity 1 (Exploration Task)</h3>
    <p style="font-size: 20px;margin-left:5px;">
        Abbreviations can be used to shorten a word, in this case we have made abbreviations for the positions on an AFL Field.
        For Example: Forward Pocket = FP
    </p>
    <br />
    <div class="col-md-12">
        <div id="act1Field">
            <div class="row" id="a1-1R1">
                <div class="dot" id="f1" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="f2t" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="m1t" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="m2t" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="d1t" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="d2t" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
            </div>
            <div class="row" id="a1-1R2">
                <div class="dot" id="f1" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="f2m" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="m1" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="m2" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="d1" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="d2" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
            </div>
            <div class="row" id="a1-1R3">
                <div class="dot" id="f1" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="f2b" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="m1b" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="m2b" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="d1b" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
                <div class="dot" id="d2b" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
            </div>
        </div>
        <div class="row">
            <div class="dot" id="int1" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
            <div class="dot" id="int" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
            <div class="dot" id="int" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
            <div class="dot" id="int" ondragover="allowDrop(event);" ondrop="act1Drop(event);"></div>
        </div>
        <br />
        <p style="font-size: 20px;">
            <b>
                Using the abbreviations in the table below, label the 22 starting
                positions on the AFL field by dragging them into the correct position
            </b>
        </p>
        <br />
        <div class="row">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td rowspan="2" style="color:#004b8d;background-color:#ffd200; border-width:3px; text-align:center;font-size:20px; border-color:#002b5c;">FORWARDS</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos1">Forward Pocket (FP)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos2">Full Forward (FF)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos3">Forward Pocket (FP)</td>
                    </tr>
                    <tr>
                        <td draggable="true" ondragstart="drag(event);" id="pos4">Half Forward Flank (HFF)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos5">Centre Half Forward (CHF)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos6">Half Forward Flank (HFF)</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="color:#004b8d;background-color:#e31937; border-width:3px; text-align:center;font-size:20px; border-color:#002b5c;">MIDFIELDERS</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos7">Ruck (R)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos8">Centre (C)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos9">Ruck Rover (RR)</td>
                    </tr>
                    <tr>
                        <td draggable="true" ondragstart="drag(event);" id="pos10">Wing (W)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos11">Rover (R)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos12">Wing (W)</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="color:white;background-color:#002b5c; border-width:3px; text-align:center;font-size:20px; border-color:#002b5c;">DEFENDERS</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos13">Half Bank Flank (HBF)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos14">Centre Half Back (CHB)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos15">Half Bank Flank (HBF)</td>
                    </tr>
                    <tr>
                        <td draggable="true" ondragstart="drag(event);" id="pos16">Back Pocket (BP)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos17">Full Back (FP)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos18">Back Pocket (BP)</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="border-width:3px; text-align:center;font-size:20px; border-color:#002b5c;">Interchange</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos19">Interchange 1 (IP1)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos20">Interchange 2 (IP2)</td>
                        <td draggable="true" ondragstart="drag(event);" id="pos21">Interchange 3 (IP3)</td>
                    </tr>
                    <tr>
                        <td style="border-color:white;"></td>
                        <td draggable="true" ondragstart="drag(event);" id="pos22">Interchange 4 (IP4)</td>
                        <td style="border-color:white;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Activity 2: part 1-->
<div class="row containRow">
    <h3>MEASUREMENT OF AFL GROUNDS: Activity 2 (Class Activity / Discussion)</h3><br />
    <p style="font-size:20px;color:#002b5c; margin-left:10px;">
        An AFL field has many regions that we can calculate the area of, below are a couple of examples of these regions
    </p>
    <div class="row containInside">
        <img src="~/images/Unit1/goals.PNG" alt="Goals" style="width: 45%;margin-left:20px" />
        <img src="~/images/Unit1/Oval.PNG" alt="Oval" style="width: 45%; margin-left:15px;" />
    </div>
    <p style="margin-top:50px;font-size:20px;color:#002b5c;margin-left:10px;">As a class calculate the area of the Centre Square: </p><br />
    <div class="row containInside">
        <div class="col-md-5">
            <img src="~/images/Unit1/centre square.PNG" style="width:90%;" />
        </div>
        <div class="col-md-7">
            <p style="color:#002b5c;font-size:18px;margin-top:40px;"><b>Centre Sqaure (MCG Area)</b></p>
            <p class="areaHint">CS Area = Length x Width</p>

            <label class="areaLabel" for="lenCS">CS Area = </label>
            <input type="number" id="lenCS" name="Length" />
            <label class="areaLabel" for="widCS">m x</label>
            <input type="number" id="widCS" name="Width" />
            <label class="areaLabel">m</label><br />
            <label class="areaLabel" for="aTotalCS">CS Area = </label>
            <input type="number" id="aTotalCS" name="Total" />
            <label class="areaLabel">m<sup>2</sup></label>
        </div>
    </div>
</div>

<!--Activity 2: part 2-->
<div class="row containRow">
    <br />
    <h3>MEASUREMENT OF AFL GROUNDS: Activity 2 (Exploration Task)</h3><br />
    <div class="row containInside">
        <div class="col-md-6">
            <p style="color:#002b5c;"><b>GOAL SQUARE AREA (GS AREA)</b></p>
            <p class="areaHint">GS Area = Length x Width</p>

            <label class="areaLabel" for="lenGS">GS Area = </label>
            <input type="number" id="lenGS" name="Length" />
            <label class="areaLabel" for="widGS">m x</label>
            <input type="number" id="widGS" name="Width" />
            <label class="areaLabel">m</label><br />
            <label class="areaLabel" for="aTotalGS">GS Area = </label>
            <input type="number" id="aTotalGS" name="Total" />
            <label class="areaLabel">m<sup>2</sup></label>
            <br /><br />

            <p style="color:#002b5c;"><b>GOAL POST AREA (GP AREA)</b></p>
            <p class="areaHint">GP Area = Length x Width</p>
            <label class="areaLabel" for="lenGP">GP Area = </label>
            <input type="number" id="lenGP" name="Length" />
            <label class="areaLabel" for="widGP">m x</label>
            <input type="number" id="widGP" name="Width" />
            <label class="areaLabel">m</label><br />
            <label class="areaLabel" for="aTotalGP">GP Area = </label>
            <input type="number" id="aTotalGP" name="Total" />
            <label class="areaLabel">m<sup>2</sup></label>
        </div>
        <div class="col-md-6">
            <img src="~/images/Unit1/goals.PNG" alt="goals" style="width:80%; margin-left:18px;" />
        </div>
    </div>

    <div class="row containInside" style="margin-top:10px;width:100%;">
        <div class="col-md-6">
            <p style="color:#002b5c;"><b>BEHIND POST AREA (BP AREA)</b></p>
            <p class="areaHint">BP Area = Length x Width</p>

            <label class="areaLabel" for="lenBP">BP Area = </label>
            <input type="number" id="lenBP" name="Length" />
            <label class="areaLabel" for="widBP">m x</label>
            <input type="number" id="widBP" name="Width" />
            <label class="areaLabel">m</label><br />
            <label class="areaLabel" for="aTotalBP">BP Area = </label>
            <input type="number" id="aTotalBP" name="Total" />
            <label class="areaLabel">m<sup>2</sup></label>
        </div>
        <div class="col-md-6" style="text-align:center;">
            <img src="~/images/Unit1/goal square.PNG" alt="goal square" style="width:25%;" />
        </div>
    </div>
</div>

<!--Activity 2: part 3-->
<div class="row containRow">
    <h4>MEASUREMENT OF AFL GROUNDS: Activity 2 (Extension / Group Work Challenge)</h4>
    <div class="row containInside">
        <div class="col-md-12">
            <br />
            <p style="font-size:20px;"><b>Analysis: </b></p>

            <label style="font-size:15px;">Which is the largest?</label>
            <input type="text" id="text1" name="largest" />
            <p style="font-size:15px;">Order the areas from smallest to largest:</p>
            <div class="row" style="margin-left: 10px;">
                <div id="box1" style="border: 1px solid black;width:125px; height:50px; margin-right: 20px; text-align:center;"><input type="text" style="width:100px;margin-top:10px;" /></div>
                <div id="box2" style="border: 1px solid black;width:125px; height:50px; margin-right: 20px; text-align:center;"><input type="text" style="width:100px;margin-top:10px;" /></div>
                <div id="box3" style="border: 1px solid black;width:125px; height:50px; text-align:center;"><input type="text" style="width:100px;margin-top:10px;" /></div>
            </div>
            <div class="row">
                <div style="margin-left: 50px;">Smallest</div>
                <div style="margin-left: 240px;">Largest</div>
            </div>

            <p style="font-size:15px;margin-top:20px;">Is the goal square actually square? Explain why/why not</p>
            <textarea name="goalSquare" rows="3" style="width:65%;"></textarea>
            <p style="font-size:15px;">What would the dimensions need to be to make the goal square an actual square?</p>
            <textarea name="dimensions" rows="3" style="width:65%;"></textarea>

            <br /><br />
            <p style="font-size:20px;">Calculate the area of your Goal Square:</p>
            <p><b>GOAL SQUARE AREA (GS AREA)</b></p>
            <p class="areaHint">GS Area = Length x Width</p>

            <label class="areaLabel" for="lenGS2">GS Area = </label>
            <input type="number" id="lenGS2" name="Length" />
            <label class="areaLabel" for="widGS2">m x</label>
            <input type="number" id="widGS2" name="Width" />
            <label class="areaLabel"> m</label><br />
            <label class="areaLabel" for="aTotalGS2">GS Area = </label>
            <input type="number" id="aTotalGS2" name="Total" />
            <label class="areaLabel"> m<sup>2</sup></label>

            <br /><br />
        </div>
    </div>
    <div class="row containInside">
        <div class="col-md-6">
            <p><b>Practical Activity: ‘Measure Your School Oval’</b></p>
            <p>
                Now you know the correct measurements for
                the distance between the goal posts and the
                goal square. If you have goals on your school
                oval, go out with the large measuring tape
                and measure their location and compare it
                to the AFL standards.
            </p>
            <p>
                Record the measurements and discuss the
                results as a class:
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/images/Unit1/measure_oval.PNG" alt="measure your oval" style="width:60%;" />
        </div>
    </div>
</div>

<!--Activity 3: part 1-->
<div class="row containRow">
    <h3>MEASUREMENT OF AFL GROUNDS: Activity 3 (Exploration Task) </h3>
    <div class="row" style="width:100%;">
        <div class="col-md-12">
            <table class="table table-bordered" style="text-align:center;">
                <thead>
                    <tr>
                        <th id="act3head">AFL GROUND</th>
                        <th id="act3head">LENGTH</th>
                        <th id="act3head">WIDTH</th>
                        <th id="act3head">AREA</th>
                        <th id="act3head">VENUE CAPACITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="act3Body">MCG (Melbourne)</td>
                        <td id="act3Body">161m</td>
                        <td id="act3Body">138m</td>
                        <td id="act3Body"></td>
                        <td id="act3Body">100,124</td>
                    </tr>
                    <tr>
                        <td id="act3Body">Marvel (Docklands)</td>
                        <td id="act3Body">160m</td>
                        <td id="act3Body">129m</td>
                        <td id="act3Body"></td>
                        <td id="act3Body">53,343</td>
                    </tr>
                    <tr>
                        <td id="act3Body">GMHBA (Geelong)</td>
                        <td id="act3Body">170m</td>
                        <td id="act3Body">117m</td>
                        <td id="act3Body"></td>
                        <td id="act3Body">36,000</td>
                    </tr>
                    <tr>
                        <td id="act3Body">SCG (Sydney)</td>
                        <td id="act3Body">155m</td>
                        <td id="act3Body">136m</td>
                        <td id="act3Body"></td>
                        <td id="act3Body">48,000</td>
                    </tr>
                    <tr>
                        <td id="act3Body">Spotless (GWS)</td>
                        <td id="act3Body">164m</td>
                        <td id="act3Body">128m</td>
                        <td id="act3Body"></td>
                        <td id="act3Body">23,500</td>
                    </tr>
                    <tr>
                        <td id="act3Body">Optus (Perth)</td>
                        <td id="act3Body">165m</td>
                        <td id="act3Body">130m</td>
                        <td id="act3Body"></td>
                        <td id="act3Body">65,156</td>
                    </tr>
                    <tr>
                        <td id="act3Body">GABBA (Brisbane)</td>
                        <td id="act3Body">156m</td>
                        <td id="act3Body">138m</td>
                        <td id="act3Body"></td>
                        <td id="act3Body">41,974</td>
                    </tr>
                    <tr>
                        <td id="act3Body">Metricon (Gold Coast)</td>
                        <td id="act3Body">158m</td>
                        <td id="act3Body">134m</td>
                        <td id="act3Body"></td>
                        <td id="act3Body">27,500</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row containInside" style="width:100%; margin-top:20px;">
        <div class="col-md-9">
            <p class="areaHint"><b>MCG (MCG AREA)</b></p>
            <p class="areaLabel">MCG Area = &#189 L x &#189 W x π</p>

            <label class="areaLabel">MCG AREA = &#189 X </label>
            <input type="number" id="mcgLength" name="MCG Length" />
            <label class="areaLabel" for="mcgLength"> X &#189 X </label>
            <input type="number" id="mcgWidth" name="MCG Width" />
            <label class="areaLabel" for="mcgWidth"> X π</label><br />
            <label class="areaLabel" for="mcgArea">MCG AREA = </label>
            <input type="number" id="mcgArea" name="MCG Area" style="margin-left:38px;" />
        </div>
        <div class="col-md-3">
            <img src="~/images/Unit1/Activity 3/STEMfooty - MCG.jpg" alt="MCG" style="width:70%;" />
        </div>
    </div>


    <div class="row containInside" style="width:100%;margin-top:20px;">
        <div class="col-md-9">
            <p><b>MARVEL STADIUM (MS AREA)</b></p>
            <p class="areaHint">MS Area = &#189 L x &#189 W x π</p>

            <label class="areaLabel">MS AREA = &#189 X </label>
            <input type="number" id="msLength" name="MS Length" />
            <label class="areaLabel" for="msLength"> X &#189 X </label>
            <input type="number" id="msWidth" name="MS Width" />
            <label class="areaLabel" for="msWidth"> X π</label><br />
            <label class="areaLabel" for="msArea">MS AREA = </label>
            <input type="number" id="msArea" name="MS Area" style="margin-left:38px;" />
        </div>
        <div class="col-md-3">
            <img src="~/images/Unit1/Activity 3/STEMfooty - Marvel Stadium.jpg" alt="Marvel Stadium" style="width:70%;" />
        </div>
    </div>


    <div class="row containInside" style="width:100%;margin-top:20px;">
        <div class="col-md-9">
            <p><b>GMHBA STADIUM (GMH AREA)</b></p>
            <p class="areaHint">GMH Area = &#189 L x &#189 W x π</p>

            <label class="areaLabel">GMH AREA = &#189 X </label>
            <input type="number" id="gmhLength" name="GMH Length" />
            <label class="areaLabel" for="gmhLength"> X &#189 X </label>
            <input type="number" id="gmhWidth" name="GMH Width" />
            <label class="areaLabel" for="gmhWidth"> X π</label><br />
            <label class="areaLabel" for="gmhArea">MS AREA = </label>
            <input type="number" id="gmhArea" name="GMH Area" style="margin-left:52px;" />
        </div>
        <div class="col-md-3">
            <img src="~/images/Unit1/Activity 3/STEMfooty - GMHBA.jpg" alt="GMHBA Stadium" style="width:70%;" />
        </div>
    </div>


    <div class="row containInside" style="width:100%;margin-top:20px;">
        <div class="col-md-9">
            <p><b>SCG (SCG AREA)</b></p>
            <p class="areaHint">SCG Area = &#189 L x &#189 W x π</p>

            <label class="areaLabel">SCG AREA = &#189 X </label>
            <input type="number" id="scgLength" name="SCG Length" />
            <label class="areaLabel" for="scgLength"> X &#189 X </label>
            <input type="number" id="scgWidth" name="SCG Width" />
            <label class="areaLabel" for="scgWidth"> X π</label><br />
            <label class="areaLabel" for="scgArea">SCG AREA = </label>
            <input type="number" id="scgArea" name="SCG Area" style="margin-left:38px;" />
        </div>
        <div class="col-md-3">
            <img src="~/images/Unit1/Activity 3/STEMfooty - SCG.jpg" alt="SCG" style="width:70%;" />
        </div>
    </div>


    <div class="row containInside" style="width:100%;margin-top:20px;">
        <div class="col-md-9">
            <p><b>SPOTLESS STADIUM (SS AREA)</b></p>
            <p class="areaHint">SS Area = &#189 L x &#189 W x π</p>

            <label class="areaLabel">SS AREA = &#189 X </label>
            <input type="number" id="ssLength" name="SS Length" />
            <label class="areaLabel" for="ssLength"> X &#189 X </label>
            <input type="number" id="ssWidth" name="SS Width" />
            <label class="areaLabel" for="ssWidth"> X π</label><br />
            <label class="areaLabel" for="ssArea">SS AREA = </label>
            <input type="number" id="ssArea" name="SS Area" style="margin-left:38px;" />
        </div>
        <div class="col-md-3">
            <img src="~/images/Unit1/Activity 3/STEMfooty - Spotless Stadium.jpg" alt="Spotless Stadium" style="width:70%;" />
        </div>
    </div>


    <div class="row containInside" style="width:100%;margin-top:20px;">
        <div class="col-md-9">
            <p><b>OPTUS STADIUM (OS AREA)</b></p>
            <p class="areaHint">OS Area = &#189 L x &#189 W x π</p>

            <label class="areaLabel">OS AREA = &#189 X </label>
            <input type="number" id="osLength" name="OS Length" />
            <label class="areaLabel" for="osLength"> X &#189 X </label>
            <input type="number" id="osWidth" name="OS Width" />
            <label class="areaLabel" for="osWidth"> X π</label><br />
            <label class="areaLabel" for="osArea">SS AREA = </label>
            <input type="number" id="osArea" name="OS Area" style="margin-left:41px;" />
        </div>
        <div class="col-md-3">
            <img src="~/images/Unit1/Activity 3/STEMfooty - Optus Stadium.jpg" alt="Optus Stadium" style="width:70%;" />
        </div>
    </div>


    <div class="row containInside" style="width:100%;margin-top:20px;">
        <div class="col-md-9">
            <p><b>GABBA STADIUM (G AREA)</b></p>
            <p class="areaHint">G Area = &#189 L x &#189 W x π</p>

            <label class="areaLabel">G AREA = &#189 X </label>
            <input type="number" id="gLength" name="G Length" />
            <label class="areaLabel" for="gLength"> X &#189 X </label>
            <input type="number" id="gWidth" name="G Width" />
            <label class="areaLabel" for="gWidth"> X π</label><br />
            <label class="areaLabel" for="gArea">SS AREA = </label>
            <input type="number" id="gArea" name="G Area" style="margin-left:32px;" />
        </div>
        <div class="col-md-3">
            <img src="~/images/Unit1/Activity 3/STEMfooty - Gabba Stadium.jpg" alt="Gabba Stadium" style="width:70%;" />
        </div>
    </div>


    <div class="row containInside" style="width:100%;margin-top:20px;">
        <div class="col-md-9">
            <p><b>METRICON STADIUM (MET AREA)</b></p>
            <p class="areaHint">MET Area = &#189 L x &#189 W x π</p>

            <label class="areaLabel">MET AREA = &#189 X </label>
            <input type="number" id="metLength" name="met Length" />
            <label class="areaLabel" for="metLength"> X &#189 X </label>
            <input type="number" id="metWidth" name="MET Width" />
            <label class="areaLabel" for="metWidth"> X π</label><br />
            <label class="areaLabel" for="metArea">MET AREA = </label>
            <input type="number" id="metArea" name="MET Area" style="margin-left:37px;" />
        </div>
        <div class="col-md-3">
            <img src="~/images/Unit1/Activity 3/STEMfooty - Metricon Stadium.jpg" alt="Metricon Stadium" style="width:70%;" />
        </div>
    </div>
</div>


<!--Activity 3: part 2-->
<div class="row containRow">
    <h3> MEASUREMENT OF AFL GROUNDS: Activity 3 (Extension / Group Work Challenge) </h3>
    <p style="font-size:20px;margin-left:10px;"><b>Exploration Questions:</b></p>

    <div class="row containInside">
        <div class="col-md-4">
            <label for="largestArea" style="font-size: 18px;">Which AFL ground has the largest area? </label>
            <label for="smallestArea" style="margin-top: 10px;margin-bottom:10px;font-size: 18px;">Which AFL ground has the smallest area?</label>
            <label for="crowdCapacity" style="font-size: 18px;">Which has the largest crowd capacity?</label>
        </div>
        <div class="col-md-8">
            <input type="text" id="largestArea" name="largest Area" /><br />
            <input type="text" id="smallestArea" name="smallest Area" style="margin-top:10px;margin-bottom:10px;" /><br />
            <input type="text" id="crowdCapacity" name="crowd Capacity" />
        </div>
    </div>

    <div class="row containInside" style="margin-top:25px;">
        <div class="col-md-12">
            <label for="correlation" style="font-size: 18px;">Is there any correlation between area of oval and capacity? Explain.</label>
            <textarea name="Correlations" rows="3" style="width:65%;"></textarea>
            <br />

            <label for="mostLike" style="font-size: 18px;">Which ground would you most like to play on and why?</label>
            <textarea name="Most like" rows="3" style="width:65%;"></textarea>
            <br />

            <label for="longDis" style="font-size: 18px;">What ground would suit a team with lots of long-distance runners? Give reasons why.</label>
            <textarea name="long distance" rows="3" style="width:65%;"></textarea>
            <br />

            <label for="accurate" style="font-size: 18px;">What ground would suit a team with lots of accurate kickers? Give reasons why.</label>
            <textarea name="Accurate" rows="3" style="width:65%;"></textarea>
            <br />

            <label for="defend" style="font-size: 18px;">What grounds would be harder/easier to defend on? Give reasons why.</label>
            <textarea name="Defend" rows="3" style="width:65%;"></textarea>
            <br />

        </div>
    </div>
</div>


<!--Activity 5: part 1-->
<div class="row containRow" style="margin-bottom:25px;">
    <h3> SCORING IN AFL: Activity 5 (Exploration Task)</h3>
    <div class="col-md-12">
        <p>
            <b>Scoring REMINDER:</b>
            <br />
            Heads/heads = goal! (record the result)
            <br />
            Heads/tails = behind! (record the result)
            <br />
            Tails/tails = miss! (record the result)
            <br /> <br />
            <b>Record your results and calculate the average:</b>
        </p>

        <div id="coinDiv">
            <div id="coin">
                <div class="side-a"></div>
                <div class="side-b"></div>
            </div>

            <div id="coin2">
                <div class="side-a"></div>
                <div class="side-b"></div>
            </div>
        </div>

        <table id="coinTable" style="width:60%" class="table table-bordered">
            <tr style="background-color:#002b5c; color:white;">
                <th>TOSS#</th>
                <th>HEADS/HEAD(GOAL)</th>
                <th>HEAD/TAILS(BEHIND)</th>
                <th>TAILS/TAILS(MISS)</th>
            </tr>
            <tr>
            </tr>

            <tr>
                <td>TOTAL</td>
                <td id="gc">0</td>
                <td id="bc">0</td>
                <td id="mc">0</td>
            </tr>

        </table>
        <br />
        <br />
        <label for="act5q1" style="font-size: 18px;">Did you score more goals, points or misses?</label>
        <br />
        <textarea name="act5q1" rows="2" style="width:65%;"></textarea>
        <br />

        <label for="act5q2" style="font-size: 18px;">Does this match what you predicted before you collected the data? Explain your results.</label>
        <br />
        <textarea name="act5q2" rows="2" style="width:65%;"></textarea>

        <br />


    </div>
</div>

<!--Activity 5: part 2-->
<div class="row containRow" style="margin-bottom:25px;">
    <h3>
        <b>SCORING IN AFL:</b> Activity 5
        <br />
        Extension / Group Challenge
    </h3>
    <div class="col-md-12">
        <p>
            <br />
            Tex Walker is well known for his ability to kick goals. Let’s compare <br />his
            season average goals with your results from the ‘Goals and Behinds’ Game.

            <br />
        </p>
        <table style="width:60%" id="texTable">
            <tr style="background-color:#002b5c; color:white;">
                <th>Year</th>
                <th>2015</th>
                <th>2016</th>
                <th>2017</th>
                <th>2018</th>
                <th>2019</th>
            </tr>
            <tr>
                <th>Average Goals</th>
                <td style="cursor: pointer;" onclick="drawGraphOnClick(100,2.6)">2.6</td>
                <td style="cursor: pointer;" onclick="drawGraphOnClick(200,2.0)">2.0</td>
                <td style="cursor: pointer;" onclick="drawGraphOnClick(300,2.5)">2.5</td>
                <td style="cursor: pointer;" onclick="drawGraphOnClick(400,1.9)">1.9</td>
                <td style="cursor: pointer;" onclick="drawGraphOnClick(500,2.0)">2.0</td>
            </tr>

        </table>
        <br />

        <p><b>TEX WALKER AVERAGE GOALS/GAMES</b></p>
        <canvas id="texGraph" width="600" height="400" style="border:1px solid"></canvas>
        <br />
        <br />
        <br />
        <img id="TexImage" src="~/images/Unit1/Activity 5/texwact5.jpeg" />
        <div style="float:right">
            <label for="act5q3" style="font-size: 18px;">In what year was Tex’s highest goal per game average?</label>
            <br />
            <textarea name="act5q3" rows="1" style="width:65%;"></textarea>
            <label for="act5q4" style="font-size: 18px;">
                Rank in order Tex’s total average goals per season from highest <br />
                to lowest?
            </label>
            <br />
            <textarea name="act5q4" rows="2" style="width:65%;"></textarea>
            <br />
            <label for="act5q5" style="font-size: 18px;">
                Tex started playing for the AFC in 2009. Over his 10 years <br />
                calculate his total goals per season average
            </label>
            <br />
            <textarea name="act5q5" rows="2" style="width:65%;"></textarea>
            <br />
        </div>
    </div>

</div>

<!--Activity 6: part 1-->
<div class="row containRow">
    <h3><b>AFCW STEM ID PROFILES: </b> Activity 6 (Exploration Task)</h3>
    <br />
    <p style="font-size:18px; margin-left:10px;">
        In pairs, choose 10 of the AFCW STEM ID Profiles, fill in the table and calculate the average height and age
        of the players.
    </p>

    <div class="col-md-12">
        <table style="width:80%" id="act6table">
            <tr style="background-color:#002b5c; color:white;">
                <th>NAME:</th>
                <th>GUERSEY NO:</th>
                <th>HEIGHT:</th>
                <th>DEBUT ROUND:</th>
                <th>AGE:</th>
                <th>RECRUITED FROM:</th>
            </tr>
            <tr>
                <td><input size="30" /></td>
                <td><input size="3" /></td>
                <td><input size="3" /></td>
                <td><input size="3" /></td>
                <td><input size="3" /></td>
                <td><input size="30" /></td>
            </tr>

        </table>

        <br />
        <button class="btn btn-outline-primary" onclick="addPlayer()" id="addPlayerButton" style="position:relative;float:right;">Click to Add Player</button>
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="StemID" target="_blank">Go To STEM ID Profiles (WIP)</a>
        <br /><br />

        <table style="width:25%;" id="act6table">
            <tr color:white;">
                <th style="background-color:#002b5c; color:white;">AVERAGE HEIGHT</th>
                <td><input size="3" /></td>
                <th style="background-color:#002b5c; color:white;">AVERAGE AGE </th>
                <td><input size="3" /></td>
            </tr>
        </table>

        <br />
        <p style="font-size:20px;">
            Australian Football League Womens (AFLW) first started in 2017, in pairs arrange your 10 players in the following orders and answer the questions below. <br />
            <br /><span style="font-size:18px;"><b>TASK: </b>Arrange your 10 players into debut order, i.e. who was the first to debut in the AFLW to who was the last to debut.</span>
        </p><br />

        <label for="act6q1" style="font-size: 18px;"> First player to debut (if there is more than one, explain why?): </label><br />
        <textarea name="act6q1" rows="2" style="width:65%;"></textarea>
        <br />
        <label for="act6q2" style="font-size: 18px;"> Last player to debut: </label><br />
        <textarea name="act6q2" rows="2" style="width:65%;"></textarea>
        <br /><br />
        <p style="font-size:20px;"><b>TASK: </b>Arrange your 10 players in order from oldest to youngest.</p><br />
        <label for="act6q3" style="font-size: 18px;"> Oldest player to debut: </label><br />
        <textarea name="act6q3" rows="2" style="width:65%;"></textarea>
        <br />
        <label for="act6q4" style="font-size: 18px;"> Youngest player to debut: </label><br />
        <textarea name="act6q4" rows="2" style="width:65%;"></textarea>
    </div>
</div>

<!--Activity 6: part 2-->
<div class="row containRow">
    <h3>AFCW STEM ID PROFILES: Activity 6 (Exploration Task)</h3>

    <div class="col-md-12">
        <img src="~/images/Unit2/RANGE.PNG" alt="RANGE" style="width:100%;" />
        <img src="~/images/Unit2/MEAN.PNG" alt="MEAN" style="width:100%;" />

        <p style="margin-top:25px;"><b>Age Analysis</b></p><br />
        <label for="playerAge" style="font-size:18px;">How did you calculate your players age? Explain:</label><br />
        <textarea name="playerAge" rows="1" style="width:65%;"></textarea>

        <label for="ageRange" style="font-size:18px;">What is the age range for the 10 AFCW players you selected? </label><br />
        <textarea name="ageRange" rows="1" style="width:65%;"></textarea><br />

        <label for="average" style="font-size:18px;">What is the average (mean) age of the 10 AFCW players selected?</label><br />
        <textarea name="average" rows="1" style="width:65%;"></textarea><br />

        <label for="average" style="font-size:18px;">
            Does there appear to be a link between the age of the player and when they made their debut?
            Explain the reasoning behind your answer.
        </label><br />
        <textarea name="average" rows="3" style="width:65%;"></textarea><br />
    </div>

</div>

<!--Activity 6: part 3-->
<div class="row containRow" id="act6Part3">
    <h3><b>AFCW STEM ID PROFILESL Activity 6 (Exploration Task)</b></h3>
    <div class="col-md-12">
        <p style="margin-top:25px;"><b>Height Analysis</b></p>
        <br />

        <label for="heightRange" style="font-size:18px;">What is the height range of your chosen 10 AFCW players you selected?</label><br />
        <textarea name="heightRange" rows="2" style="width:65%;"></textarea><br />

        <label for="tallestPlayer" style="font-size:18px;">Who is the tallest player out of your 10 AFCW players?</label><br />
        <textarea name="tallestPlayer" rows="2" style="width:65%;"></textarea><br />

        <label for="shortestPlayer" style="font-size:18px;">Who is the shortest player out of your 10 AFCW players?</label><br />
        <textarea name="shortestPlayer" rows="2" style="width:65%;"></textarea><br />

        <label for="shortestPlayer" style="font-size:18px;">The average height in the 2019 Crows AFLW team was 171cm. Explain where your 10 players sit in comparision:</label><br />
        <textarea name="shortestPlayer" rows="3" style="width:65%;"></textarea><br />
    </div>
</div>

<br />
<br />
<!--Activity 10: part 1-->
<div class="row containRow" style="margin-bottom:25px;" id="act10Part1">
    <div class="col-md-12">
        <h3>
            <b>GOAL KICKING DATA:</b> Activity 10
            <br />
            Exploration Task

        </h3>
        <br />
        <p>
            Practical Activity: ‘Goal Kick Challenge’ Using the STEMfooty numbered cones and footballs. Set up 10 positions with <br />
            the cones to have shots at goal (outside on your oval).

            <br />
            Individually take it in turns and have 1 shot from each of the positions and record your results as a ‘Goal or Behind’
            <br />
            Record Sheet:
        </p>

        <table style="width:50%" id="act10table1">
            <tr style="background-color:#002b5c; color:white;">
                <th>POSITION:</th>
                <th>GOAL:</th>
                <th>BEHIND:</th>

            </tr>
            <tr>
                <th>1</th>
                <td><input type="radio" name="1" /> </td>
                <td><input type="radio" name="1" /> </td>
            </tr>
            <tr>
                <th>2</th>
                <td><input type="radio" name="2" /> </td>
                <td><input type="radio" name="2" /> </td>
            </tr>
            <tr>
                <th>3</th>
                <td><input type="radio" name="3" /> </td>
                <td><input type="radio" name="3" /> </td>
            </tr>
            <tr>
                <th>4</th>
                <td><input type="radio" name="4" /> </td>
                <td><input type="radio" name="4" /> </td>
            </tr>
            <tr>
                <th>5</th>
                <td><input type="radio" name="5" /> </td>
                <td><input type="radio" name="5" /> </td>
            </tr>
            <tr>
                <th>6</th>
                <td><input type="radio" name="6" /> </td>
                <td><input type="radio" name="6" /> </td>
            </tr>
            <tr>
                <th>7</th>
                <td><input type="radio" name="7" /> </td>
                <td><input type="radio" name="7" /> </td>
            </tr>
            <tr>
                <th>8</th>
                <td><input type="radio" name="8" /> </td>
                <td><input type="radio" name="8" /> </td>
            </tr>
            <tr>
                <th>9</th>
                <td><input type="radio" name="9" /> </td>
                <td><input type="radio" name="9" /> </td>
            </tr>
            <tr>
                <th>10</th>
                <td><input type="radio" name="10" /> </td>
                <td><input type="radio" name="10" /> </td>
            </tr>

            <tr>
                <th tr style="background-color:#002b5c; color:white;">Total</th>
                <td><input type="text" /></td>
                <td><input type="text" /> </td>
            </tr>

        </table>
        <p>
            <br /><b>Analysis Questions</b><br />

        </p>
        <br />
        <label for="act10q1" style="font-size: 18px;">
            What was the main factor that affected your accuracy? How can you improve this?
        </label>
        <br />
        <textarea name="act10q1" rows="3" style="width:65%;"></textarea>
        <br />

        <label for="act10q2" style="font-size: 18px;">
            Explain what factors affect AFL players’ accuracy in a real AFL game. How are these different to the game <br />
            you just played?
        </label>
        <br />
        <textarea name="act10q2" rows="4" style="width:65%;"></textarea>
        <br />



    </div>
</div>

<!--Activity 10: part 2-->
<div class="row containRow" style="margin-bottom:25px;">
    <h3>
        <b>GOAL KICKING DATA:</b> Activity 10
        <br />
        Extension / Group Work Challenge

    </h3>
    <div class="row">
        <div class="col-md-12">
            <p>
                <br />Collect 10 students’ Goal Kick Challenge results and record them.
                For example:<br />
                Nick scored 1 goal 6 behinds. For this activity his results will be recorded as 1.6 as shown below.
            </p>
            <table style="width:50%" id="act10table2">
                <tr style="background-color:#002b5c; color:white;">
                    <th>STUDENT NAME:</th>
                    <th>RESULTS AS A DECIMAL:</th>
                </tr>
                <tr>
                    <td><input type="text" value="EG.Nick" /></td>
                    <td><input type="number" value="1.6"></td>
                </tr>
                <tr>
                    <td><input type="text" value="Your Results" /></td>
                    <td><input type="number" /></td>
                </tr>
                <tr>
                    <td><input type="text" /></td>
                    <td><input type="number" /></td>
                </tr>
                <tr>
                    <td><input type="text" /></td>
                    <td><input type="number" /></td>
                </tr>
                <tr>
                    <td><input type="text" /></td>
                    <td><input type="number" /></td>
                </tr>
                <tr>
                    <td><input type="text" /></td>
                    <td><input type="number" /></td>
                </tr>
                <tr>
                    <td><input type="text" /></td>
                    <td><input type="number" /></td>
                </tr>
                <tr>
                    <td><input type="text" /></td>
                    <td><input type="number" /></td>
                </tr>
                <tr>
                    <td><input type="text" /></td>
                    <td><input type="number" /></td>
                </tr>
                <tr>
                    <td><input type="text" /></td>
                    <td><input type="number" /></td>
                </tr>
            </table>

            <img id="ebImage" src="~/images/Unit2/Activity 10/ebact10.jpeg" />
        </div>

    </div>
</div>

<!--Activity 10: part 3-->
<div class="row containRow" style="margin-bottom:25px;">
    <div class="col-md-12">
        <h3>
            <b>GOAL KICKING DATA:</b> Activity 10
            <br />
            Extension / Group Work Challenge
            <br />
            <br />
            <br />
            Create a Stem and-Leaf-plot comparing the class Goal Kick Challenge results.
            <br />

        </h3>
        <table style="width:40%;position:relative" id="act10table3">
            <tr>
                <th style="background-color:#00FF00; color:white;">STEM<br />(GOALS)</th>
                <th style="background-color: #FFFF00; color: #002b5c;">LEAF:<br />(BEHINDS)</th>
            </tr>
            <tr>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>
            <tr>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>
            <tr>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>
            <tr>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>
            <tr>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>
            <tr>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>
            <tr>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>
            <tr>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>
            <tr>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>
            <tr>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>

        </table>
        <img id="goalpic" src="~/images/Unit2/Activity 10/goalpic.jpeg" />

        <br />
        <label for="act10q3">What is the median (middle value) for your class results? Is this represented on the Stem and-Leaf-plot?</label>
        <br />
        <textarea name="act10q3" rows="3" style="width:65%;"></textarea>
        <br />
        <br />
    </div>
</div>




<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    drawGraph();

    var playerCount = 1;
    function addPlayer() {

        if (playerCount < 10) {

            var table = document.getElementById("act6table");
            var row = table.insertRow(playerCount + 1);
            var cell = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);

            var input30 = document.createElement("input");
            var input31 = document.createElement("input");
            var input3 = document.createElement("input");
            var input4 = document.createElement("input");
            var input5 = document.createElement("input");
            var input6 = document.createElement("input");

            input30.size = 30;
            input31.size = 30;
            input3.size = 3;
            input4.size = 3;
            input5.size = 3;
            input6.size = 3;

            cell.appendChild(input30);
            cell2.appendChild(input3);
            cell3.appendChild(input4);
            cell4.appendChild(input5);
            cell5.appendChild(input6);
            cell6.appendChild(input31);

            playerCount++;
            console.log(playerCount);
        }
    }

    function drawGraph() {
        var count = 3.0;
        var graph = document.getElementById("texGraph").getContext("2d");
        for (var i = 50; i < 400; i) {
            graph.fillRect(30, i, 500, 1);
            graph.fillText(count, 10, i)
            count -= 0.5;
            i += 50;
        }

        graph.fillText("2015", 100, 360)
        graph.fillText("2016", 200, 360)
        graph.fillText("2017", 300, 360)
        graph.fillText("2018", 400, 360)
        graph.fillText("2019", 500, 360)

    }

    function drawGraphOnClick(x, val) {
        var graph = document.getElementById("texGraph").getContext("2d");
        graph.fillRect(x, 350 - (100 * val), 20, (100 * val));
    }

    var coinCount = 0;
    goalCount = 0;
    behindCount = 0;
    missCount = 0;

    jQuery(document).ready(function ($) {

        $('#coin, #coin2').on('click', function () {
            if (coinCount < 10) {
                coinCount++;
                var flipResult = Math.random();
                var flipResult2 = Math.random();

                var table = document.getElementById("coinTable");
                var row = table.insertRow(coinCount);
                var cell = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                cell.innerHTML = coinCount;

                cell2.setAttribute("id", "hh" + coinCount);
                cell3.setAttribute("id", "ht" + coinCount);
                cell4.setAttribute("id", "tt" + coinCount);


                $('#coin').removeClass();
                $('#coin2').removeClass();
                setTimeout(function () {
                    if (flipResult <= 0.5) {
                        $('#coin').addClass('heads');
                        console.log('coin1 - it is head');
                    }
                    if (flipResult2 <= 0.5) {
                        $('#coin2').addClass('heads');
                        console.log('coin2 - it is head');
                    }
                    if (flipResult > 0.5) {
                        $('#coin').addClass('tails');
                        console.log('coin1 - it is tails');
                    }

                    if (flipResult2 > 0.5) {
                        $('#coin2').addClass('tails');
                        console.log('coin2  - it is tails');
                    }

                    if (($('#coin').attr('class') == "heads") && ($('#coin2').attr('class') == "heads")) {
                        console.log(" in hh ")
                        var id = "hh" + coinCount;
                        $("#" + id).text("Goal");
                        goalCount++;
                    }

                    else if (($('#coin').attr('class') == "tails") && ($('#coin2').attr('class') == "tails")) {
                        console.log(" in tt ")
                        var id = "tt" + coinCount;
                        $("#" + id).text("Miss");
                        missCount++;
                    }

                    else {
                        var id = "ht" + coinCount;
                        $("#" + id).text("Behind");
                        behindCount++;

                    }



                    $("#gc").text(goalCount);
                    $("#mc").text(missCount);
                    $("#bc").text(behindCount);

                }, 100);
            }
        });
    });


    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    // Activity 1: part 1 Drop function
    function drop(ev) {
        ev.preventDefault();
        var id = ev.dataTransfer.getData("text");
        var target = ev.target;
        var text = document.getElementById(id).innerHTML;

        document.getElementById(id).innerHTML = "";
        //document.getElementById(id).style.visibility = "hidden";
        target.innerHTML = text;
    }

    //Activity 1: part 2 Drop function
    function act1Drop(ev) {
        ev.preventDefault();
        var id = ev.dataTransfer.getData("text");
        var target = ev.target;
        var sentence = document.getElementById(id).innerHTML;
        var position = splitString(sentence);

        document.getElementById(id).innerHTML = "";
        target.innerHTML = position;
    }

    // Method to split positions into the abbreviated versions. i.e Full Forward == FF
    function splitString(sentence) {
        var string = sentence;
        var code = "";
        string = string.split(" ");

        for (i = 0; i < string.length; i++) {
            var word = string[i];
            var subcode = word.charAt(0);
            if (subcode == '(') { } else {
                code = code + subcode;
            }
        }
        return code;
    }

</script>
