@using Microsoft.AspNetCore.Identity
@using AFCSTEM.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
    <title>@ViewData["Title"] - AFCSTEM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>



<body>
    <header>
        <nav style="background-color: #002b5c;font-family:'Titillium Web', sans-serif;" class="navbar navbar-expand-sm 
             navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/AFC_Logo.png" width="140" height="50" />
                </a>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                        <li class="dropdown nav-item nav-link text-light">
                            <a class="nav-link nav-item text-light" asp-area="" asp-controller="Home" asp-action="Unit1Home">Unit 1   ⮟</a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Whatisfooty">What is Footy?</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit1" asp-action="Activity1">Activity 1</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit1" asp-action="Activity2">Activity 2</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit1" asp-action="Activity3">Activity 3</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit1" asp-action="Activity4">Activity 4</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit1" asp-action="Activity5">Activity 5</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item nav-link text-light">
                            <a class="nav-link nav-item text-light" asp-area="" asp-controller="Home" asp-action="Unit2Home">Unit 2   ⮟</a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit2" asp-action="Activity6">Activity 6</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit2" asp-action="Activity7">Activity 7</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit2" asp-action="Activity8">Activity 8</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit2" asp-action="Activity9">Activity 9</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit2" asp-action="Activity10">Activity 10</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item nav-link text-light">
                            <a class="nav-link nav-item text-light" asp-area="" asp-controller="Home" asp-action="Unit3Home">Unit 3   ⮟</a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit3" asp-action="Activity11">Activity 11</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit3" asp-action="Activity12">Activity 12</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit3" asp-action="Activity13">Activity 13</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit3" asp-action="Activity14">Activity 14</a>

                            </div>
                        </li>
                        <li class="dropdown nav-item nav-link text-light">
                            <a class="nav-link nav-item text-light" asp-area="" asp-controller="Home" asp-action="Unit4Home">Unit 4   ⮟</a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit4" asp-action="Activity15">Activity 15</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit4" asp-action="Activity16">Activity 16</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Unit4" asp-action="Activity17">Activity 17</a>

                            </div>
                        </li>
                            <li class="nav-item nav-link">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Workbook">Workbook</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="text-align:left;">
                <img src="~/images/ACF_Logo.png" width="65" height="80" style="margin-bottom:5px;"/>  Proudly supported by ACF</div>
                <div class="col-md-3" style="text-align:right;">&copy; 2020 - AFCSTEM</div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Scripts/jspdf.js"></script>
    <script src="~/Scripts/jspdf.plugin.from_html.js"></script>
    <script src="~/Scripts/jspdf.plugin.split_text_to_size.js"></script>
    <script src="~/Scripts/jspdf.plugin.standard_fonts_metrics.js"></script>
    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="~/Scripts/jspdf.plugin.autotable.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,700&display=swap" rel="stylesheet">
    @RenderSection("Scripts", required: false)
</body>
</html>
